/* Amazon Ember Font (Web-Optimized) */
@font-face {
    font-family: 'AmazonEmber';
    src: url('fonts/amazon-ember/AmazonEmber_Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AmazonEmber';
    src: url('fonts/amazon-ember/AmazonEmber_Bd.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'AmazonEmber';
    src: url('fonts/amazon-ember/AmazonEmber_Lt.woff2') format('woff2');
    font-weight: 300; /* Light */
    font-style: normal;
}

/* General Body Styling */
body {
    font-family: 'AmazonEmber', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e3e6e6;
}

/* Background color setting and removing extra margins*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

/*==============================================================================*/
/*==============================================================================*/
/*                           HEADER TOP STYLING                                 */
/*==============================================================================*/
/*==============================================================================*/
.header-top {
    background-color: #0F1111;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-top-left {
    display: flex;
    align-items: center;
    height: 92%;
    width: 250px;
}
.logo {
    height: 50px;
    width: 118px;
    padding: 1px 8px 0px 6px;
    margin: 10px;
    background-image: url(images/Amazon-Logo.png);
    background-size: 99px;
    background-position: bottom;
    background-repeat: no-repeat;

}

.delivery-location {
    height: 60px;
    width: 95px;
    display: flex;
    color: white;
    align-items: center;
    align-content: center;
}

.location-icon {
    height: 18px;
    width: 15px;
    color:white
}

.location-icon i {
    margin-top: 5px;
}

.location-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.location-label{
    font-size:0.75rem;
    color: #CCCCCC;
}

.location-name {
    font-size: 0.875rem;
    font-weight: 700;
}

.header-top-center {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    min-width: 440px;
}

.alldropdown {
    width: 52px;
    height: 40px;
    color: #555555;
    background-color: #E6E6E6;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 0.75rem;
    border-right: 1px solid #cdcdcd;
}

.alldropdown i {
    font-size: 0.6rem;
    color: #666666;
    align-self: flex-start;
}
.search-input {
    flex: 1;
    height: 40px;
    padding: 0 10px;
    background-color: white;
    font-size: 0.875rem;
    font-weight: 400;
}



input[type="text"] {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 0.875rem;
    border-radius: 0px;
}

.search-button {
    width: 45px;
    height: 40px;
    background-color: #febd69;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.25rem;
    border: none;
}

.header-top-right {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 435px;
    height: 55px;
    
}

.language-selector{
    width: 45.375px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    color: white;
}

.language-flag-and-name {
    width: 45px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.empty-box {
    height: 7px;
    width: 100%;
}

.filled-box {
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.language-flag {
    width: 21.6px;
    height: 16.2px;
    margin-right: 2px;
    background-image: url(images/US-flag.png);
    background-size: cover;
    
}

.language-name {
    width: 21px;
    height: 16px;
}

.language-text {
    color: white;
    font-size: 0.875rem;
    font-weight: 700;}


.dropdown-icon-language i {
    font-size: 0.6rem;
    color: #a7acb2;
    margin-top: 20px;
    height: 10px;
}

.signin-box {
    width: 135px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.signin-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 106px;
}

.signin-label{
    font-size:0.75rem;
}

.signin-name {
    font-size: 0.875rem;
    font-weight: 700;
}

.signin-box i {
    font-size: 0.6rem;
    color: #a7acb2;
    margin-top: 20px;
    height: 10px;
}




.return-order-box {
    width: 70px;
    height: 30px;
    display: flex;
    align-items: center;
    color: white;
}

.order-box-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60px;
    margin: auto;
}

.order-box-label{
    font-size:0.75rem;}

.order-box-name {
    font-size: 0.875rem;
    font-weight: 700;
}

.cart-box {
    width: 66px;
    height: 30px;
    display: flex;
    align-items: end;
    justify-content:center;
    color: white;
    padding-bottom: 9px;
}

.cart-icon-and-count {
    /* width: 25px; */
    height: 38px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cart-count-text{
    font-size: 0.8rem;
    color: #f08804;
}
.cart-icon {
    font-size: 1.5rem;
    flex: 1.5;
}

.cart-box-name {
    width: 28px;
    height: 30px;
    font-size: 0.875rem;
    font-weight: 700;
    color: white;
    display: flex;
    align-items: flex-end;
    flex: 1;
}


/*==============================================================================*/
/*==============================================================================*/
/*                           HEADER Bottom STYLING                              */
/*==============================================================================*/
/*==============================================================================*/

.header-bottom {
    height: 39px;
    background-color: #232f3e;
    color: white;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 11px;
    
}

.header-bottom-left {
    width: 58.42px;
    height: 29px;
    padding: 8px 9px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    font-weight: 700;
}

.hamburger-icon {
    font-size: larger;
    font-weight: 100;
}

.header-bottom-left-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 0.875rem;
    padding-left: 5px;
}


.header-bottom-center {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header-bottom-center ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    height: 39;
}

.header-bottom-center ul li {
    height:37px;
    font-size: 0.875rem;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    
}
.header-bottom-center ul li a {
    padding: 0 10px;
    display: flex;
    align-items: center;
    height: 100%;
}

/*==============================================================================*/
/*==============================================================================*/
/*                  outlines for items in header on hover                       */
/*==============================================================================*/
/*==============================================================================*/

.oulines:hover {
    outline:white 1px solid;
    border-radius: 1px;
}

.item-height {
    height: 90%;
}

/*==============================================================================*/
/*==============================================================================*/
/*                           HERO BANNER STYLING                              */
/*==============================================================================*/
/*==============================================================================*/

.hero-banner {
    width: 100%;
    height: 600px;

}

.hero-banner-img {
    width: 1500px;
    height: 100%;
    margin: auto;
    background-image: url(images/herobanner1.jpg);
    background-size: cover;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1),rgba(0, 0, 0, 1),rgba(0, 0, 0, 1),rgba(0, 0, 0, 0.65),rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0));
    position: relative;
}

.banner-slider-buttons {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.banner-slider-buttons button {
    
    width: 84px;
    height: 246px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 2rem;
    font-weight: 100;
    padding: 0px;
    
}

.banner-slider-buttons button:focus {
    border: #0a7cd1 2px solid;
    outline:white 2px solid;
    margin: 2px;
    border-radius: 4px;
}

.button-left {
    text-shadow: #000000 -2px 0px 0px;
}

.button-right {
    text-shadow: #000000 2px 0px 0px;
}


/*==============================================================================*/
/*==============================================================================*/
/*                     main Body Content - Category cards                       */
/*==============================================================================*/
/*==============================================================================*/
.main-body {
    position: absolute;
    top: 328px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0;
    margin: 0;
}
.category-cards-area {
    width: 1480px;
    position: absolute;
    top: 0;
    margin: 0;
    padding: 21px 17px 20px 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-between;
    row-gap: 20px;
}
.category-card {
    width: 24%;
    height: 420px;
    background-color: white;
    padding: 22px;
}

.category-card h2 {
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #0F1111;
}

.category-card img {
    width: 100%;
    height: 303.7px;
    object-fit: cover;
}

.category-call-to-action-link {
    color: #2162a1;
    font-size: 13px;
    position: relative;
    margin-top: 15px;
}

.four-images-cards{
    height: 303px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
}

.quarter-image {
    width: 47%;
    font-size: 12px;
    color: #0F1111;
}


.quarter-image img{
    width: 100%;
    height: 115px;
    object-fit: cover;
}

.four-images-card-link {
    margin-top: 21px;
}

.card-3 .category-images {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    row-gap: 10px;
}

.card-3 .top-images {
    width: 100%;
}

.card-3 .top-images img {
    width: 100%;
    height: 145.406px;
}

.card-3 .bottom-images {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-3 .bottom-images .card3-small-image-box {
    width: 32%;
    
}

.card-3 .bottom-images .card3-small-image-box img {
   height: 75px;
}